---
import Layout from "../layouts/default.astro"
import { ChatIcon, LinkIcon } from "../assets/icons"
---

<Layout title="Sukhpreet Singh | Front-end Engineer" description="Life on Internet">   
   <main class="w-full max-w-5xl flex gap-4 min-h-[216px] ">
        <section class="flex flex-col items-center justify-center w-full pt-16 pb-28">
            <div class="flex flex-col gap-16 px-10 lg:flex-row">
                <article id="background-circle"
                    class="relative z-0 flex items-center justify-center flex-shrink-0 w-32 h-32 rounded-full lg:w-64 md:w-52 sm:w-44 lg:h-64 md:h-52 sm:h-44"
                    style="
                    background: radial-gradient(
                        circle,
                        hsla(231, 100%, 50%, 1) 0%,
                        hsla(196, 100%, 50%, 1) 100%
                    );
                ">
                    <!-- <div class="z-10 blur-[2px] text-black  absolute flex h-full w-full items-center justify-center text-5xl">Anshu</div> -->
                    <div id="photo"
                        class="relative z-10 rounded-full lg:w-56 md:w-44 sm:w-36 w-28 opacity-80 lg:h-56 md:h-44 sm:h-36 h-28"
                        style="
                        box-shadow: 0px 0px 60px 1px hsla(210, 100%, 70%, 1);
                        background-position: top center;
                        background-size: cover;
                        background-image: url('/pic.jpeg');
                    ">
                    </div>
                </article>
                <article class="">
                    <h1 class="text-3xl mb-2 font-bold text-slate-900 dark:text-slate-100">
                        Hii, there Myself Sukhpreet Singh
                    </h1>
                    <p class="text-slate-700 mb-1 font-semibold text-xl dark:text-slate-200">
                        19 year old, self taught front-end engineer,
                        (especially tailwindcss and design)
                        with a passion for web development,
                        along with experience of building real-world
                        websites.
                    </p>
                    <p class="text-slate-600 font-medium text-lg dark:text-slate-400">
                        Other than this, I love seeing shows which come
                        in category same as Kung Fu Panda, 
                            Avatar: The Last Airbender
                        , and spider-man, also if you too play
                        basketball congratulation, I enjoy playing
                        basketball.
                    </p>
                    <div class="mt-8 flex flex-row gap-x-4">
                        <a class="
                                inline-flex tab-highlight-none items-center h-9 px-3 rounded-full 
                                text-sm font-semibold whitespace-nowrap 
                                
                                bg-gradient-to-tr

                                from-blue-50 to-blue-100
                                
                                dark:from-blue-600 dark:to-blue-800

                                hover:from-blue-100 hover:to-blue-200
                                
                                dark:hover:from-blue-500 dark:hover:to-blue-700

                                text-blue-600
                                hover:text-blue-700 
                                
                                dark:text-white/90 
                                dark:hover:text-white

                                focus:outline-none 
                                focus:ring-2
                                ring-offset-2
                                focus:ring-blue-500 

                                dark:ring-offset-slate-900
                                dark:focus:ring-blue-500 
                            " href="#">
                            Read full story
                            <span class="sr-only">, utility-first fundamentals
                            </span>
                            <svg class="overflow-visible ml-3 text-blue-300 group-hover:text-blue-400 dark:text-blue-500 dark:group-hover:text-blue-400"
                                width="3" height="6" viewBox="0 0 3 6" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M0 0L3 3L0 6"></path>
                            </svg>
                        </a>
                        <a class="group relative inline-flex tab-highlight-none items-center gap-x-2 h-9 px-3 rounded-full 
                                text-sm font-semibold whitespace-nowrap                                
                                bg-slate-100
                                hover:bg-slate-200
                                
                                text-slate-600 
                                hover:text-slate-700 
                                
                                dark:bg-slate-700
                                dark:hover:bg-slate-600 
                                
                                dark:text-white/90 
                                dark:hover:text-white

                                focus:outline-none 
                                focus:ring-2
                                ring-offset-2
                                focus:ring-slate-500                                 
                                dark:ring-offset-slate-900
                                dark:focus:ring-slate-500 
                            " href="#">
                            Get in touch
                            <span class="sr-only">, utility-first fundamentals
                            </span>
                            <ChatIcon basic />
                        </a>
                    </div>
                </article>
            </div>
        </section>
    </main>
</Layout>
