.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-col {
	flex-direction: column;
}

.flex-col-reverse {
	flex-direction: column-reverse;
}

.items-start {
	align-items: flex-start;
}

.items-end {
	align-items: flex-end;
}

.items-center {
	align-items: center;
}

.items-stretch {
	align-items: stretch;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}
@media (min-width: 640px) {
	.sm\:flex-row-reverse {
		flex-direction: row-reverse;
	}

	.sm\:flex-col {
		flex-direction: column;
	}

	.sm\:flex-col-reverse {
		flex-direction: column-reverse;
	}

	.sm\:items-start {
		align-items: flex-start;
	}

	.sm\:items-end {
		align-items: flex-end;
	}

	.sm\:items-center {
		align-items: center;
	}

	.sm\:items-stretch {
		align-items: stretch;
	}

	.sm\:justify-start {
		justify-content: flex-start;
	}

	.sm\:justify-end {
		justify-content: flex-end;
	}

	.sm\:justify-center {
		justify-content: center;
	}

	.sm\:justify-between {
		justify-content: space-between;
	}

	.sm\:justify-around {
		justify-content: space-around;
	}

	.sm\:justify-evenly {
		justify-content: space-evenly;
	}

	.sm\:\[\&\>\*\]\:grow > * {
		flex-grow: 1;
	}
}

@media (min-width: 768px) {
	.md\:flex-row-reverse {
		flex-direction: row-reverse;
	}

	.md\:flex-col {
		flex-direction: column;
	}

	.md\:flex-col-reverse {
		flex-direction: column-reverse;
	}

	.md\:items-start {
		align-items: flex-start;
	}

	.md\:items-end {
		align-items: flex-end;
	}

	.md\:items-center {
		align-items: center;
	}

	.md\:items-stretch {
		align-items: stretch;
	}

	.md\:justify-start {
		justify-content: flex-start;
	}

	.md\:justify-end {
		justify-content: flex-end;
	}

	.md\:justify-center {
		justify-content: center;
	}

	.md\:justify-between {
		justify-content: space-between;
	}

	.md\:justify-around {
		justify-content: space-around;
	}

	.md\:justify-evenly {
		justify-content: space-evenly;
	}

	.md\:\[\&\>\*\]\:grow > * {
		flex-grow: 1;
	}
}

@media (min-width: 1024px) {
	.lg\:flex-row-reverse {
		flex-direction: row-reverse;
	}

	.lg\:flex-col {
		flex-direction: column;
	}

	.lg\:flex-col-reverse {
		flex-direction: column-reverse;
	}

	.lg\:items-start {
		align-items: flex-start;
	}

	.lg\:items-end {
		align-items: flex-end;
	}

	.lg\:items-center {
		align-items: center;
	}

	.lg\:items-stretch {
		align-items: stretch;
	}

	.lg\:justify-start {
		justify-content: flex-start;
	}

	.lg\:justify-end {
		justify-content: flex-end;
	}

	.lg\:justify-center {
		justify-content: center;
	}

	.lg\:justify-between {
		justify-content: space-between;
	}

	.lg\:justify-around {
		justify-content: space-around;
	}

	.lg\:justify-evenly {
		justify-content: space-evenly;
	}

	.lg\:\[\&\>\*\]\:grow > * {
		flex-grow: 1;
	}
}

@media (min-width: 1280px) {
	.xl\:flex-row-reverse {
		flex-direction: row-reverse;
	}

	.xl\:flex-col {
		flex-direction: column;
	}

	.xl\:flex-col-reverse {
		flex-direction: column-reverse;
	}

	.xl\:items-start {
		align-items: flex-start;
	}

	.xl\:items-end {
		align-items: flex-end;
	}

	.xl\:items-center {
		align-items: center;
	}

	.xl\:items-stretch {
		align-items: stretch;
	}

	.xl\:justify-start {
		justify-content: flex-start;
	}

	.xl\:justify-end {
		justify-content: flex-end;
	}

	.xl\:justify-center {
		justify-content: center;
	}

	.xl\:justify-between {
		justify-content: space-between;
	}

	.xl\:justify-around {
		justify-content: space-around;
	}

	.xl\:justify-evenly {
		justify-content: space-evenly;
	}

	.xl\:\[\&\>\*\]\:grow > * {
		flex-grow: 1;
	}
}

@media (min-width: 1536px) {
	.\32xl\:flex-row-reverse {
		flex-direction: row-reverse;
	}

	.\32xl\:flex-col {
		flex-direction: column;
	}

	.\32xl\:flex-col-reverse {
		flex-direction: column-reverse;
	}

	.\32xl\:items-start {
		align-items: flex-start;
	}

	.\32xl\:items-end {
		align-items: flex-end;
	}

	.\32xl\:items-center {
		align-items: center;
	}

	.\32xl\:items-stretch {
		align-items: stretch;
	}

	.\32xl\:justify-start {
		justify-content: flex-start;
	}

	.\32xl\:justify-end {
		justify-content: flex-end;
	}

	.\32xl\:justify-center {
		justify-content: center;
	}

	.\32xl\:justify-between {
		justify-content: space-between;
	}

	.\32xl\:justify-around {
		justify-content: space-around;
	}

	.\32xl\:justify-evenly {
		justify-content: space-evenly;
	}

	.\32xl\:\[\&\>\*\]\:grow > * {
		flex-grow: 1;
	}
}
