---
import Layout from "../../layouts/testing.astro"
import { Position } from "position-component"
---

<Layout title="Sukhpreet Singh | Front-end Engineer" description="Life on Internet">
    <section class="min-h-screen flex w-full h-full global-max-width flex-wrap">
        <article class="flex flex-col grow divide-y-2 divide-teal-400 [&>*]:shadow-md [&>*]:shadow-teal-300">
            <div class="px-2 py-0.5 box-content bg-[#7fcfff] text-[#041e49] rounded-lg m-1">top-left,center,right]</div>
            <Position as="article" top left sm:stretchX class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position top center class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position top right class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
        </article>
        <article class="flex flex-col grow divide-y-2 divide-teal-400 [&>*]:shadow-md [&>*]:shadow-teal-300">
            <div class="px-2 py-0.5 box-content bg-[#7fcfff] text-[#041e49] rounded-lg m-1">center-left,center,right]
            </div>
            <Position center left class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position center center class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position center right class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
        </article>
        <article class="flex flex-col grow divide-y-2 divide-teal-400 [&>*]:shadow-md [&>*]:shadow-teal-300">
            <div class="px-2 py-0.5 box-content bg-[#7fcfff] text-[#041e49] rounded-lg m-1">bottom-[left,center,right]
            </div>
            <Position bottom left class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position bottom center class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position bottom right class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
        </article>
    </section>
    <section class="min-h-screen flex w-full h-full global-max-width flex-wrap">
        <article class="flex flex-col grow divide-y-2 divide-teal-400 [&>*]:shadow-md [&>*]:shadow-teal-300">
            <div class="px-2 py-0.5 box-content bg-[#7fcfff] text-[#041e49] rounded-lg m-1">top-left,center,right]</div>
            <Position top left col stretchX class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position left center col stretchY class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position top right col stretch class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
        </article>
        <article class="flex flex-col grow divide-y-2 divide-teal-400 [&>*]:shadow-md [&>*]:shadow-teal-300">
            <div class="px-2 py-0.5 box-content bg-[#7fcfff] text-[#041e49] rounded-lg m-1">center-left,center,right]
            </div>
            <Position center left col stretchX class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position center center col stretchY class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position center right col stretch class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
        </article>
        <article class="flex flex-col grow divide-y-2 divide-teal-400 [&>*]:shadow-md [&>*]:shadow-teal-300">
            <div class="px-2 py-0.5 box-content bg-[#7fcfff] text-[#041e49] rounded-lg m-1">bottom-[left,center,right]
            </div>
            <Position bottom left col stretchX class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position right center col stretchY class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
            <Position bottom right col stretch class="h-1/3 shrink m-1 rounded-md grow">
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-yellow-400 to-orange-600 shadow-md shadow-orange-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-pink-400 to-rose-600 shadow-md shadow-rose-600/40">
                </div>
                <div
                    class="p-4 m-0.5 rounded-lg bg-gradient-to-tr from-indigo-400 to-purple-600 shadow-md shadow-purple-600/40">
                </div>
            </Position>
        </article>
    </section>
</Layout>
